@model Slide

<div class="row">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/manage/images/@Model.Img" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Slide Detail</h5>
            <p class="card-text">Title:@Model.Title1</p>
            <p class="card-text">Subtitle:@Model.Title2</p>
            <p class="card-text">Description:@Model.Desc</p>
              <p class="card-text">Description:@Model.Order</p>

        </div>
    </div>
</div>